.register_form {
width: 20%;
height: 70%;
padding: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background: none;
text-align: center;
}

.register_form input[type = "text"], .register_form input[type = "password"] {
border: 0;
background: none;
display: block;
margin: 20px auto;
width: 60%;
text-align: center;
border: 2px solid #2bc43d;
border-radius: 30px;
padding: 15px 10px;
outline: none;
color: #cfcfcf;
transition: 0.25s;
}

.register_form input[type = "text"]:focus, .register_form input[type = "password"]:focus,
.register_form input[type = "text"]:hover, .register_form input[type = "password"]:hover {
width: 90%;
border-color: #16783f;
}

.register_form input[type = "submit"] {
border: 0;
background: none;
display: block;
margin: 20px auto;
width: 40%;
text-align: center;
border: 2px solid #2bc43d;
border-radius: 30px;
padding: 15px 10px;
outline: none;
color: #2bc43d;
transition: 0.25s;
cursor: pointer;
}

.register_form input[type = "submit"]:hover {
background: #1c1c1c;
border-color: #16783f;
}